<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GoldStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/goldstore.css" />
    <link href="~/lib/fontawesome-5.12.1/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome-5.12.1/css/fontawesome.min.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:cadetblue">
        <a class="navbar-brand" href="/" style="color:burlywood">Gold Store</a>
        <ul class="navbar-nav ml-auto layout__cart-wrapper">

            <li>
                <partial name="../Cart/Partials/_CartSummaryWidget.cshtml" />
            </li>
            <li class="nav-link" href="../Cart/CartDetail.cshtml" id="cartDropdown">

            </li>

        </ul>


    </nav>
    <div class="container-fluid">
        @RenderBody()
        <hr />
        <footer>
            <p class="layout__copyright">&copy; 2019 - Gold E-Store</p>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
